<body>

    <div class="election_information">
        <h1>{{description}}</h1>
        <div class="date_type">
            <h2>Type Of Election: {{type}} ({{authority_level}})</h2>
            <h2>Date: {{date}}</h2>
        </div>
     
            <h4>Voting Methods: {{voting_Options}}</h4>
        
        <a href="{{polling_place_url}}" alt="polling place link" target="_blank">Find Your Polling Place</a> 
        <br><br>
        <a href="{{sourcenotes}}" alt="more information on election link" target="_blank">Find More Information On The Election</a>
    </div>
</body>
